* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aaa;
}

#container {
    background-color: #fff;
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container>h1 {
    color: red;
    font-weight: bold;
    margin: 10px;
}

#container>input {
    background-color: #aaa;
    padding: 10px 60px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

#container>button {
    background-color: chocolate;
    color: white;
    padding: 10px 25px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#container>#liste {
    width: 600px;
    height: auto;
    background-color: gray;
    padding: 10px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}